:root {
    --black: black;
    --white: white;
    --gray: #eee;
    --square: rgb(68, 68, 131);
    --border: greenyellow;
    --red: red;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--black);
    font-family: sans-serif;
    margin: 0;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    background-image: url("images/dark-green.jpg");
    background-repeat: repeat;
}

.header {
    display: block;
    width: 100%;
    /* max-height: calc(10vh - 10px); */
    padding: 10px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    white-space: nowrap;
    color: var(--white);
}

button {
    background-color: var(--border);
    padding: 5px 15px;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    color: var(--black);
    cursor: pointer;
}

#exit{
    background-color: var(--red);
    padding: 5px 15px;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    color: var(--black);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: calc(90vh - 10px);
    padding: 10px;
}

.game {
    max-width: 800px;
    max-height: calc(90vh - 10px);
    width: calc(90vw - 10px);
    height: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card, .card-front, .card-back {
    background-color: transparent;
    max-width: 180px;
    max-height: 305px;
    width: 100%;
}

.card {
    /* perspective: 800px; */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.flip-card {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.card-front, .card-back {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.card-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card img {
    width: 100%;
    height: 100%;
}

.card.hover .flip-card, .card.flip .flip-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.colorSelect {
    width: 10vw;
    height: 100%;
    padding: 5px;
}

.cardColor {
    background-color: transparent;
    max-width: 50px;
    max-height: 76px;
    margin-top: 10px;
}

.cardColor img {
    width: 100%;
}

.cardColor.selected {
    border: 3px solid white;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px white;
    box-shadow: 2px 2px 10px white;
}